
/* HTML5  boilerplate 
------------------------------------------------------------------*/

html, button, input, select, textarea { color: #222; }

::-moz-selection {
    background: #bdbda9;
    text-shadow: none;
}

::selection {
    background: #bdbda9;
    text-shadow: none;
}

audio, canvas, img, video {
    vertical-align: middle;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* Default Typography 
------------------------------------------------------------------*/
body {  
    font:normal 12px/18px "Nunito", Arial, Helvetica, sans-serif;
    color:#fff;
    background:#222;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {color:#fff;}

h1 {font:normal 42px/1em "Oswald", Arial, Helvetica, sans-serif; margin:0 0 .5em 0; }
h2 {font:normal 36px/1.3em "Nunito", Arial, Helvetica, sans-serif; margin:0 0 18px 0; }
h3 {font:normal 24px/1em "Oswald", Arial, Helvetica, sans-serif; margin:0 0 5px 0; text-transform:uppercase}
h4 {font:normal 13px/1.231em "Oswald", Arial, Helvetica, sans-serif; margin:0 0 .25em 0; text-transform:uppercase}

p {margin:0 0 1.5em 0;}

a {color:#fff; text-decoration:none;}
a:hover {color: #fff; text-decoration:none;}

.button {display:inline-block; padding:5px; border:1px solid #fff; color:#fff; text-transform: uppercase;} 
.button:hover {background:#eee;}

ul {margin-top:0; padding-left:16px; margin-bottom:1.5em;}
ul li {margin-bottom:5px;}

ul.menu,
ul.menu li, 
ul.sub-menu,
ul.sub-menu li {margin:0; padding:0; list-style:none;}

ul.menu li.last {margin-right:0 !important; padding-right:0 !important; border-right:none !important;}

img {vertical-align: middle; max-width:100%;}
img.background-image {width:100%;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

i.icon {
    display:inline-block;
    vertical-align: middle;
    margin-right:11px;
}
.icon-text {
    display:inline-block;
    vertical-align: middle;
    line-height: 18px;
}

.lt-ie8 a i.icon {
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
  height:15px;
}


/* Layout
------------------------------------------------------------------*/
.wrapper{position:relative; overflow:hidden; }

.container {width:100%;}
.container .inner {margin:0 auto; position:relative;}

#main {position:relative; margin-left:25%; width:75%;}


/*sidebar
------------------------------------------------------------------*/
#sidebar {
    position:fixed; 
    width:25%; 
    height: 100%;
    padding:175px 0 30px;
    background:url("../images/sidebar-background.gif");
}
#sidebar .inner {width:80%; margin:0 auto;}

/*Header
------------------------------------------------------------------*/
#header {text-align:center; margin-bottom:55px;}
#header h1 {margin-bottom:0;}

/*Main nav
------------------------------------------------------------------*/
#main-nav {width:70%; margin:0 auto 30px;}
#main-nav .menu {
    text-transform: uppercase; 
    font-size:11px; 
    letter-spacing:4px; 
    border-top:1px solid #666; 
    border-bottom:1px solid #666;
    padding:12px 0 4px;
    text-align:center;
} 

#main-nav .menu li {margin-bottom:9px;}
#main-nav .menu li.active {background-color: #8fcdcb;}
#main-nav .menu li.active a{color:#292929;}

/*Utility Menu
------------------------------------------------------------------*/
#utility-nav {text-align: center;}
#utility-nav .shopping-cart-summary h3{font-size:11px; letter-spacing:4px; color:#f49ecc;}
/* Feature Slider
------------------------------------------------------------------*/
.slider-container {overflow: hidden;}
.slider-container .slide {position:relative; overflow: hidden;}
.slider-container .slide .callout {
    position:absolute;
    z-index:10; 
    width:40%; 
    right:10%; 
    bottom:25%;
    background:rgba(255, 255, 255, 0.70);
    border-top:8px solid #8fcdcb;
}

.slider-container .slide .callout .inner {width:85%; margin:0 auto; padding:30px 0 15px;}
.slider-container .slide .callout h2 {font-size: 15px; color:#292929;}
.slider-container .slide .callout p {color:#292929;}

/* Callouts
------------------------------------------------------------------*/
.callout-container {overflow: hidden;}
.callout-container .callout {width:50%; float:left; position:relative; overflow: hidden;}
.callout-container .callout .info {position:absolute; z-index:10; width:50%; padding:5% 0 5% 5%;}
.callout-container .callout .info h3 {margin-bottom:28px;}

/* Content Header 
------------------------------------------------------------------*/
.content-header {background:#fff; padding-bottom:35px;}

/* Content Section 
------------------------------------------------------------------*/
.content-section {background:#fff; overflow: hidden;}
.content-section h1, h2, h3, h4, p, div, li {color:#292929;}


/* image-gallery
------------------------------------------------------------------*/
.image-gallery .feature-image {margin-bottom:20px;}
.image-gallery .thumbnails {margin:0 0 20px 0; padding:0; list-style:none; text-align: center;}

.image-gallery .thumbnails li {display:inline-block; margin-right:5px; width:50px; }

/* Product Details
------------------------------------------------------------------*/
.product-details { padding-bottom:30px;}
.product-details .inner {width:90%; margin:0 auto; position:relative;}

.product-details .image-gallery {width:45%; margin-right:5%; float:left; position:relative;}
.product-details .product-info {width:45%; float:left; position:relative;}