

/* Serpentijn Defaults
---------------------------------------------------------------*/ 
html {
    font:normal 13px/1.4em PT Sans, Arial, Helvetica, sans-serif;
}

body { 
    background-color: #000; 
    color: #f3f3e5;
    background-image: url("../images/background.jpg");
    background-position: center; 
}

h1, h2, h3, h4 {color:#fff;}

h1 {
    font:normal 28px/1em PT Sans, Arial, Helvetica, sans-serif; 
    margin:0 0 .5em 0;
}

h2 {
    font:normal 24px/1em PT Sans, Arial, Helvetica, sans-serif;
     margin:0 0 .5em 0; 
 }

h3 {
    font:bold 15px/1em PT Sans, Arial, Helvetica, sans-serif; 
    margin:0 0 5px 0; 
    color:#a8f3f0; 
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

h4 {
    font:normal 13px/1.231em PT Sans, Arial, Helvetica, sans-serif; 
    margin:0 0 .25em 0;
}

p {margin:0 0 1.5em 0;}

a {color:#a8f3f0; text-decoration:none;}
a:hover {color: #a8f3f0; text-decoration:underline;}

.highlight {color:#a8f3f0;}

ul {margin-top:0; padding-left:16px; margin-bottom:1.5em;}
ul li {margin-bottom:5px;}
ul li img {
    width: auto;
}

ul.menu,
ul.menu li, 
ul.sub-menu,
ul.sub-menu li {margin:0; padding:0; list-style:none;}

ul.horizontal { }
ul.horizontal li {display:inline-block; margin-right:5px;}
ul.horizontal li.last {margin-right:0; padding-right:0; border-right:none;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

img {
    width:100%; 
    max-width: 100%; 
    vertical-align: middle;
}

i.icon {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
}

.lt-ie8 a i.icon {
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
  height:15px;
}
     
audio, canvas, iframe, img, svg, video { vertical-align: middle; }


/* Form Defaults
---------------------------------------------------*/ 

fieldset { 
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* Default structure
---------------------------------------------------*/ 
.container {
    max-width:980px;
    width:100%;
    margin:0 auto;
}

.container-inner {
    width:90%;
    margin:0 auto;
    position:relative;    
}


/* Default Footer
---------------------------------------------------*/ 
footer {
    padding-top:70px; 
}

footer .copyright {
    font-weight:bold; 
    font-size:10px; 
    letter-spacing:2.5px; 
    color:#666; 
    text-transform:uppercase;
}



/* landing page 
---------------------------------------------------*/ 
#landing-page .wrapper {
    padding-top:100px; 
}

#landing-page .container {
    max-width:450px;
    text-align:center; 
}

#landing-page .logo {
    margin-bottom:30px; 
}

#landing-page .main-content {
    width:80%; 
    margin:0 auto;
    margin-bottom:40px; 
}

#landing-page .social-links h3 {margin-bottom:20px;}



/* Helper Classes
---------------------------------------------------*/ 
.hidden {
    display: none !important;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}


/* Media Queries
---------------------------------------------------*/ 

@media (max-width: 767px) {
    #landing-page .wrapper {
        padding-top:50px; 
    }    
}

@media (max-width: 480px) {
    #landing-page .wrapper {
        padding-top:20px; 
    }    
}