
/* HTML5  boilerplate 
------------------------------------------------------------------*/

html, button, input, select, textarea { color: #222; }

::-moz-selection {
    background: #bdbda9;
    text-shadow: none;
}

::selection {
    background: #bdbda9;
    text-shadow: none;
}

audio, canvas, img, video {
    vertical-align: middle;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* Default Typography 
------------------------------------------------------------------*/
body {  
    font:normal 12px/18px "Nunito", Arial, Helvetica, sans-serif;
    color:#fff;
    background:#fff;
    -webkit-font-smoothing: antialiased;
}

body.modal-active {
  overflow: hidden;
}

h1, h2, h3, h4 {color:#fff;}

h1 {font:normal 42px/1em "Oswald", Arial, Helvetica, sans-serif; margin:0 0 .5em 0; }
h2 {font:normal 36px/1.3em "Nunito", Arial, Helvetica, sans-serif; margin:0 0 18px 0; }
h3 {font:normal 24px/1em "Oswald", Arial, Helvetica, sans-serif; margin:0 0 5px 0; text-transform:uppercase}
h4 {font:normal 13px/1.231em "Oswald", Arial, Helvetica, sans-serif; margin:0 0 .25em 0; text-transform:uppercase}

p {margin:0 0 1.5em 0;}

a {color:#fff; text-decoration:none;}
a:hover {color: #fff; text-decoration:none;}

.highlight {color:#8fcdcb;}


ul {margin-top:0; padding-left:16px; margin-bottom:1.5em;}
ul li {margin-bottom:5px;}

ul.menu,
ul.menu li, 
ul.sub-menu,
ul.sub-menu li {margin:0; padding:0; list-style:none;}

ul.menu li.last {margin-right:0 !important; padding-right:0 !important; border-right:none !important;}

img {vertical-align: middle; max-width:100%;}
img.background-image {width:100%;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

i.icon {
    display:inline-block;
    vertical-align: middle;
    margin-right:11px;
}
.icon-text {
    display:inline-block;
    vertical-align: middle;
    line-height: 18px;
}

.lt-ie8 a i.icon {
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
  height:15px;
}

.rich-text-container {padding-bottom:1.5em;}

/* Forms
------------------------------------------------------------------*/
ul.form, ul.form li {margin:0; padding:0; list-style: none;}
ul.form li {margin-bottom:8px;}

label {display: inline-block; font-weight:bold; margin-right:10px; margin-bottom: 3px; vertical-align: middle;}
select, input, textarea {border:1px solid #8fcdcb; padding:1%; vertical-align: middle;}

ul.form li.buttons {text-align: right;}

.button { padding:5px; } 
.button:hover {background:rgba(0, 0, 0, 0.50);}

.button {
    display:inline-block;
    font:normal 18px/1em "Oswald", Arial, Helvetica, sans-serif; 
    text-transform: uppercase;
    border:1px solid #fff; 
    color:#fff; 
    padding:12px;
}

.button-small {
    display:inline-block;
    font:normal 12px/1em "Oswald", Arial, Helvetica, sans-serif; 
    text-transform: uppercase;
    border:1px solid #fff; 
    color:#fff; 
    padding:5px 6px;
    letter-spacing: .5px; 
}

.submit-button {
    border:1px solid #292929; 
    background:#8fcdcb; 
    color:#292929;
}

.secondary-button {
    border:1px solid #999; 
    background:#bbb; 
    color:#fff;
}

form .errors li {
    color:#c00 !important;
}

/* Modal
------------------------------------------------------------------*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.60);
    z-index: 1600;
    display: none;
    overflow: auto;
    overflow-y: scroll;  
}

.modal > .inner {
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
    background: #fff;
    position: relative;
}

.modal a.modal-close {
    position: absolute;
    top: 22px;
    right: 25px;
    font:normal 11px/1em "Nunito", Arial, Helvetica, sans-serif;
    text-transform: uppercase; 
    letter-spacing: 1.5px;  
    color:#999;
}

.modal a.modal-close:hover { color:#444;}

.modal .modal-content-wrapper {
    padding: 60px;
}

.modal .modal-content {
    position:relative;
    text-align: center; 
}

.modal .modal-content h1, .modal .modal-content h2, .modal .modal-content h3, .modal .modal-content h4, .modal .modal-content h5,
.modal .modal-content p { color:#292929;} 



/* Layout
------------------------------------------------------------------*/
.wrapper{position:relative; overflow:hidden; }

.container {width:100%;}
.container .inner {margin:0 auto; position:relative;}

#main {
    position:relative; 
    padding-left: 280px;
    width: auto;
}


/*sidebar
------------------------------------------------------------------*/
#sidebar {
    position:fixed; 
    width: 280px; 
    height: 100%;
    padding:175px 0 30px;
    background:url('{{ "sidebar-background.gif" | asset_url }}');
    /*background:url('../images/sidebar-background.gif');*/

    z-index: 500; 
}

#sidebar .inner {width:80%; margin:0 auto;}

/* Grid
------------------------------------------------------------------*/
.grid {position:relative; overflow: hidden; margin-bottom:35px;}

.grid .col {display:inline; float:left;}
.grid .col .inner {width:80%; margin:0 auto;}
.grid .col .image {overflow: hidden; max-height:300px; margin-bottom:20px; text-align: center;}
.grid .col .image img{width:100%; max-width:450px; }

.grid .col .copy-block {margin-bottom:50px;}
.grid .col .copy-block h2 {font-size: 18px; line-height: 1.231em; margin-bottom:6px;}
.grid .col .copy-block h3 {font-size: 14px; line-height: 1.231em; margin-bottom:6px;}
.grid .col .feature-copy p {font-size:13px; line-height:22px;}
.grid .col .feature-copy p.small-text {font-size:11px;}

.grid .col.friends-copy .copy-block {margin-bottom:30px;}

.grid .col .highlight p {color:#8fcdcb;}
.grid.grid-2cols .col {width:50%;}



/*Header
------------------------------------------------------------------*/
#header {text-align:center; margin-bottom:55px;}
#header h1 {margin-bottom:0;}


/*Main nav
------------------------------------------------------------------*/
#main-nav {margin:0 auto 35px;}
#main-nav .inner {width:100%; }

#main-nav hr {    
    width:65%;
    border-top:1px solid #666; 
    margin: 0 auto;    
}

#main-nav .menu {
    text-transform: uppercase; 
    font-size:11px; 
    letter-spacing:4px; 
    padding:0;
    text-align:center;
} 

#main-nav .menu li {margin-bottom:4px;}
#main-nav .menu li:last-child{margin-bottom:0;}

#main-nav .menu li a {display:block; padding: 7px 4px 4px;}
#main-nav .menu li a:hover {background-color: #8fcdcb;}

#main-nav .menu li.active {background-color: #8fcdcb;}
#main-nav .menu li.active a {color:#333;}


/*Utility Menu
------------------------------------------------------------------*/
#utility-nav {text-align: center;}
#utility-nav .shopping-cart-summary a {font: normal 11px/18px "Nunito", Arial, Helvetica, sans-serif; letter-spacing:4px; text-transform: uppercase;}
#utility-nav .shopping-cart-summary .icon {vertical-align:text-bottom;}

/* Feature Slider
------------------------------------------------------------------*/
.feature-slider {position:relative; }

.feature-slider .callout {
    position:absolute;
    z-index:200; 
    width:40%; 
    right:10%; 
    bottom:25%;
    background:rgba(255, 255, 255, 0.70);
    border-top:8px solid #8fcdcb;
}

.feature-slider .callout .inner {width:85%; margin:0 auto; padding:30px 0 15px;}
.feature-slider .callout h2 {font-size: 15px; color:#292929;}
.feature-slider .callout p {color:#292929;}

.slide-container {overflow: hidden; position:relative;}
.slide-container .slide {
    position:absolute; 
    max-height:580px; 
    display: none;
    width:100%;
    top:0; 
    left:0;
    z-index:0;
}

.slide-container .slide .image-rule {
    position:absolute; 
    bottom:0;
    left:0;
    width:100%;
    height:10px; 
    background:rgba(0, 0, 0, 0.60);
}


.slide-container .slide .call-to-action {
    display:none;
    position:absolute;
    right:10%; 
    bottom:10%;   
    color:#fff;
    font-size:14px;
    text-decoration: none;
}
.slide-container .slide .call-to-action:hover {text-decoration: underline;}


.slide-container .slide.active{position:relative; z-index:100;}


/* Callouts
------------------------------------------------------------------*/
.callout-container {overflow: hidden;}
.callout-container .callout {width:50%; float:left; position:relative; overflow: hidden;}
.callout-container .callout .info {position:absolute; z-index:10; width:50%; padding:5% 0 5% 5%;}
.callout-container .callout .info h3 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom:40px;
}

.callout-container .callout .info h4 {
    font:normal 10px/1.231em "Nunito", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

/* Content Header 
------------------------------------------------------------------*/
.content-header {background:#fff; position:relative; overflow:hidden; max-height:225px;}
.content-header .page-title {position:absolute; z-index:10; left:10%; bottom:10%; font-size:34px; text-transform: uppercase;}

/* Content Section 
------------------------------------------------------------------*/
.content-section {background:#fff; overflow: hidden; padding:35px 0 50px;}
.content-section .inner {width:90%; margin:0 auto; position:relative;}

.content-section h1, .content-section h2, .content-section h3, .content-section h4, .content-section p, .content-section div, .content-section li {color:#292929;}
.content-section a {color:#8fcdcb; text-decoration:underline;}
.content-section a:hover {color:#292929;}


/* image-gallery
------------------------------------------------------------------*/
.image-gallery .feature-image {margin-bottom:20px; position:relative;}
.image-gallery .feature-image a {display:none;}

.image-gallery .thumbnails {margin:0 0 20px 0; padding:0; list-style:none; text-align: center;}

.image-gallery .thumbnails li {display:inline-block; margin-right:5px; width:50px; }

.image-gallery .thumbnails li a img {border:2px solid #fff;}
.image-gallery .thumbnails li a.active img {border:2px solid #292929;}



/* Product Details
------------------------------------------------------------------*/
.product-details .image-gallery {width:45%; margin-right:5%; float:left; position:relative;}
.product-details .product-info {width:45%; float:left; position:relative;}

.product-details .product-info h1 {font:bold 16px/1em "Nunito", Arial, Helvetica, sans-serif; margin:0 0 8px 0; }
.product-details .product-info h2 {font:normal 15px/1em "Nunito", Arial, Helvetica, sans-serif; margin:0 0 12px 0; }
.product-details .product-info h3 {font:normal 16px/1em "Oswald", Arial, Helvetica, sans-serif; margin:18px 0 8px; text-transform:uppercase}
.product-details .product-info p {margin-bottom:12px; font-size:13px; line-height:18px;}

.product-details .product-info .description {margin-bottom:20px;}
.product-details .product-info .donation-text p {font:normal 12px/1.231em "Nunito", Arial, Helvetica, sans-serif; color:#8fcdcb; margin-bottom:15px;}
.product-details .product-info .donation-text .callout-text {font-size:14px;}


/* Product Options/Add to Cart
------------------------------------------------------------------*/
.product-options {margin-bottom:20px;}

.product-options .qty-option {display:inline-block; width:20%; vertical-align: top; }
.product-options .variant-options {display:inline-block; width:72%; margin-right:1%;}

.product-options label{
    display:block; 
    font:normal 9px/1em "Nunito", Arial, Helvetica, sans-serif;
    text-transform: uppercase; 
    margin:0 0 3px;
    letter-spacing: 1.5px;
}

.product-options label span {color:#888;}
.product-options label span a {color:#888; text-decoration: none;}

.product-options input, .product-options select {display:block; width:98%; }
.product-options input {height:22px;}

.add-to-cart .add-to-cart-button {
    font:normal 18px/1em "Oswald", Arial, Helvetica, sans-serif;  
    border:1px solid #292929; 
    background:#f49ecc; 
    color:#292929;
    padding:12px;
}


.donation-options {
    font:normal 14px/1em "Oswald", Arial, Helvetica, sans-serif; margin:0 0 20px 0; text-transform:uppercase
}

.donation-options span a{
    font:normal 11px/1em "Nunito", Arial, Helvetica, sans-serif;
    color:#8fcdcb;
    text-transform: none; 
    text-decoration: none; 
    padding-left: 4px; 
}

.donation-options input {width:15px; height:15px; margin-bottom:3px; margin-right:5px;}

.donation-options ul.form li {margin-bottom: 9px;}

.donation-error {display:none;}
.donation-error p {color:#c00; margin-bottom: 17px;}

/*Size chart
------------------------------------------------------------------*/
.size-chart {display:none;}


/*Cart Page
------------------------------------------------------------------*/
.cart-page {padding-top:14px;}
.cart-page .continue-shopping {margin-bottom:8px;}

.cart-page .product-items { margin-bottom: 24px; }

.cart-page .product-item {
    overflow: hidden; 
    position:relative; 
    border-bottom:1px solid #eee;
    padding:12px 0;
}

.cart-page .product-item .product-item-section {display:inline; float:left; width:25%;}
.cart-page .product-item .product-item-section .inner {width:90%; margin:0 auto;}

.cart-page .product-item .product-image {width:19%; margin-right:1%;}
.cart-page .product-item .product-image img {width:100%;}

.cart-page .product-item .product-info {width:33%;}
.cart-page .product-item .product-info h3 {
    font:bold 15px/1.231em "Nunito", Arial, Helvetica, sans-serif; 
    margin:0 0 4px 0; 
    text-transform: none;
}

.cart-page .product-item .product-info p {margin-bottom:4px;}

.cart-page .product-item .product-qty {width:25%;}
.cart-page .product-item .product-qty label {margin-right:4px;}
.cart-page .product-item .product-qty input.qty {padding:3px; width:35px;}
.cart-page .product-item .product-total { width:20%; font-size:14px; text-align: right;}

.cart-page .cart-notes {margin-bottom:24px;}

.cart-page .cart-summary {margin-bottom:24px;}
.cart-page .cart-summary .alert {background:#eee; padding:10px; font-style: italic;}
.cart-page .cart-summary .subtotal {font-size:16px;}


/*Contact-us-page 
------------------------------------------------------------------*/
.contact-us-page .grid .col .copy-block {margin-bottom:12px; width:80%;}

/*Contact Form
------------------------------------------------------------------*/
.contact-form ul.form li {margin-bottom:12px; }
.contact-form ul.form li.buttons {text-align: left; padding-top:8px;}

.contact-form label {    
    color:#292929;
    display:block; 
    font:normal 9px/1em "Nunito", Arial, Helvetica, sans-serif;
    text-transform: uppercase; 
    margin:0 0 4px;
    letter-spacing: 1.5px;
}
.contact-form input, .contact-form select, .contact-form textarea {width:74%; line-height: 1.5em;} 
.contact-form input.button {width:75px; line-height: 1em; background:#fff;}



/*Media queries
------------------------------------------------------------------*/
@media (max-width: 890px) {

    #sidebar {
        position:relative; 
        width: 100%; 
        height: 50px;
        padding:0;
        background:#111;
    }

    #sidebar .inner {width:80%; margin:0 auto;}
    
    #main {
        padding-left:0;
    }

    #main-nav {display: none;}
    #utility-nav {display:none;}

    #header{    
        width: 90px;
        margin: 0 auto;
    }
}